@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

figure {
    margin: 0 !important;
    padding-bottom: 2em;

    @media (max-width : 850px ) {
        img {
            width: 100%;
        }
    }

}

.home {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;

    @media(max-width : 425px ) {
        margin-top: 30px;
    }

    p, h1 {
        font-size: 2em;
    }

    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__text {
            display: flex;
            flex-direction: column;
            align-self: center;
        }

        &__title {
            display: flex;
            justify-content: left;
            width: 84%;
            margin: 0 auto;
            h1 {
                font-size: 8em;
                text-align: left;
                padding-top: 20px;
                padding-bottom: 50px;
                font-family: 'Montserrat', sans-serif;
                font-weight: normal;
            }
        }
    }

    .socials {
        display: flex;
        align-items: center;
        justify-content: flex-end;


        &__github, &__linkedin {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1em;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: linear-gradient(145deg, #fffeff, #dbd5d6);
            box-shadow: 7px 7px 14px #cfc9ca, -7px -7px 14px #ffffff, 
                        inset 2px 2px 15px rgba(238, 233, 233, 0.514), 
                        inset -2px -2px 15px rgba(221, 214, 214, 0.5);
            padding: 1em;
            color: rgba(179, 179, 179, 0.767);
            transition: .3s .15s;
            &:hover {
                color:  #5fb97a;
            }
        }

        i { 
            margin: 0;
            &::before {
                text-shadow: 5px 5px 5px 15px lightgray;
            }
        }
    
        @media (max-width : 850px ) {
            margin-top: 1em;
            justify-content: center;
        }


    }
}