
/* IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* GENERAL */

html {
  overflow: hidden;
}

body {
  //background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

  //background-repeat: no-repeat;
  //background-size: cover;
  height: 100vh;
  color: white;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.dark {
  background-image: linear-gradient(to right top, #2e3a4c, #314050, #364754, #3b4d58, #41535b);
}

body::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 0.75);
}

button:focus{
  outline: none;
}


/* ARROW */

.arrow {
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 50px;
  display: none;
  justify-content: flex-end;
  margin-right: 2em;
  transition: display .3s ease-in-out;
}

.arrow img{
  width: 100px;
  height: 100px;
}

.showed {
  display: flex;
}

/* NAV */



/* CSS TRANSITION */

.fade-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit {
  transform: translateX(0%);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active ,
.fade-exit-active {
  transition: opacity 500ms, transform 500ms;
}

/* KEYFRAMES */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
